@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url(nav.css);

html {
    --bg-color: #272932;
    --text-color: #ecf8f8;
    --primary-color: #9EDEDD;
    --second-color: #274248;
    --accent-color: #7251C4;
    --btn-radius: 2.5em;
    --btn-shadow:#8060d0;
    --section-radius: .25em;
    --icon-radius: 3.25em;
    --cap: capitalize;
    --fat: 800;
    --chubby: 600;
    --btn-hover: brightness(120%);
    --btn-active: brightness(80%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'poppins', sans-serif;
    font-size: 1.1em;
}

h3 {
    font-family: 'poppins', sans-serif;
    font-weight: var(--chubby);
    text-align: center;
    text-transform: var(--cap);
    font-size: 2em;
}

p{
    font-family: 'poppins', sans-serif;
    font-weight: var(--chubby);
    text-align: center;
    text-transform: var(--cap);
    font-size: 1.5em;

}
em {
    color: var(--primary-color);
    font-weight: var(--fat);
    font-size: 2em;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
    margin-bottom:2em;
}

section{
    display: flex;
}
.scorecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: var(--second-color);
    border-radius: 1.5em;
    box-shadow: 0 0 24px 12px #274248ad;
    padding: 1em;
    margin: auto;
    text-align: center;
    height: 650px;
    width: 550px;

    & .icon{
        display: flex;
        height:250px;
        width: 250px;
        margin: auto;
    }
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 20%;
    background-color: var(--second-color);
    border-radius: 1.5em;
    box-shadow: 0px 0px 24px #2742489d;
    padding: 1em;
    margin: auto;
    text-align: center;
    height: 25em;
    width: 15em;
}
fieldset{
    border:0;
    text-align: center;

& input{
    border: 1px solid;
    border-radius: .2em;
    padding: 1.25em;
    margin: 0.5em;
    appearance: none;
    filter: brightness(80%);

    &:active,&:focus{
        filter: brightness(150%) saturate(150%);
    }
    &:hover{
        filter: brightness(120%);
    }
    &.red{
        background-color: red;
        accent-color: red;
    }
    &.orange{
        background-color: orange;
        accent-color: orange;
    }
    &.yellow{
        background-color: yellow;
        accent-color: yellow;
    }
    &.light-green{
        background-color: lightgreen;
        accent-color: lightgreen;
    }
    &.green{
        background-color: green;
        accent-color: green;
    }
}
}

.shuffle{
  animation-name: shuffle;
  animation-timing-function: cubic-bezier(.58,-0.06,.59,.52);
  animation-duration:.6s;
  animation-delay: .5s;
}

@keyframes shuffle {
    0% {filter:opacity(1) blur(12px);}
    100% {filter:opacity(0);}
}

.hide {
    display: none;
}

input[name="1"]:checked{
    outline: solid red 2px;
    filter: brightness(150%) saturate(150%);
}
input[name="2"]:checked{
    outline: solid red 2px;
    filter: brightness(150%) saturate(150%);
}
input[name="3"]:checked{
    outline: solid red 2px;
    filter: brightness(150%) saturate(150%);
}
input[name="4"]:checked{
    outline: solid red 2px;
    filter: brightness(150%) saturate(150%);
}
input[name="5"]:checked{
    outline: solid red 2px;
    filter: brightness(150%) saturate(150%);
}