@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url(nav.css);

html {
    --bg-color: #272932;
    --text-color: #ecf8f8;
    --primary-color: #947eb0;
    --second-color: #519879;
    --accent-color: #FB8B24;
    --btn-radius: 2.5em;
    --btn-shadow:#716088;
    --section-radius: .25em;
    --icon-radius: 3.25em;
    --cap: capitalize;
    --fat: 800;
    --chubby: 600;
    --btn-hover: brightness(120%);
    --btn-active: brightness(80%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'poppins', sans-serif;
}

h1, h3 {
    font-family: 'poppins', sans-serif;
    font-weight: var(--chubby);
    text-align: center;
}

span {
    color: var(--accent-color);
    font-weight: var(--fat);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--second-color);
    border-radius: var(--section-radius);
    box-shadow: 0 0 1em var(--btn-shadow);
    padding: 1em;
    margin: 1em;
    text-align: center;
    height: 25em;
    width: 15em;
}
fieldset{
    border:0;
    text-align: center;

& input{
    border: 1px solid;
    border-radius: .2em;
    padding: 1.25em;
    margin: 0.5em;
    appearance: none;
    filter: brightness(80%);

    &:active, &:focus{
        filter: brightness(150%);
    }
    &.red{
        background-color: red;
        accent-color: red;
    }
    &.orange{
        background-color: orange;
        accent-color: orange;
    }
    &.yellow{
        background-color: yellow;
        accent-color: yellow;
    }
    &.light-green{
        background-color: lightgreen;
        accent-color: lightgreen;
    }
    &.green{
        background-color: green;
        accent-color: green;
    }
}
}

.shuffle{
    animation-name: shuffle;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

@keyframes shuffle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200em); 
    }
}

