.big-card{
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second-color);
    border-radius: var(--section-radius);
    padding: 1em;
    width: 90%;
    height: 275px;
    box-shadow: 0px 6px 12px var(--second-color);
}

.text-property{
    max-width:75ch;
}

.bigfive{
    display: grid;
    grid-template-areas: 
    "card-1 card-2 card-3"
    "card-4 card-5";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 2em;
}
.small-card{
    width:275px;
    height: 250px;
    background-color: var(--second-color);
    border-radius: var(--section-radius);
    padding: 1em;
    box-shadow: 0px 3px 6px var(--second-color);
}

.card-1{
grid-area: card-1;
}

.card-2{
grid-area: card-2;
}

.card-3{
grid-area: card-3;
}

.card-4{
    grid-area: card-4;
}

.card-5{
    grid-area: card-5;
}