@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url(nav.css);

html {
    --bg-color: #272932;
    --text-color: #ecf8f8;
    --primary-color: #9EDEDD;
    --second-color: #2A5A7D;
    --accent-color: #467FC1;
    --btn-radius: 2.5em;
    --btn-shadow:#716088;
    --section-radius: .25em;
    --icon-radius: 3.25em;
    --cap: capitalize;
    --fat: 800;
    --chubby: 600;
    --btn-hover: brightness(120%);
    --btn-active: brightness(80%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

h1,h2, h3 {
    font-weight: var(--chubby);
    text-align: center;
    text-transform: var(--cap);
}

p{
    font-weight: var(--chubby);
    text-align: center;
    font-size: 1.25em;
    color: var(--second-color);
}
em {
    color: var(--accent-color);
    font-weight: var(--fat);
}


a{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
 &.click-me{
    display: block;
    border-radius: var(--btn-radius);
    background-color: var(--primary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-width: 0;
    font-weight: var(--chubby);
    box-shadow: 0px 0px 5px var(--btn-shadow);

    &.full{
        width: 75%;
        margin-top: .25em;
        margin-bottom: 2.75em;
    }
    &:hover{
        filter: var(--btn-hover);
        cursor: pointer;
    }
}
}

