ol{
    list-style-type: circle;
    max-width: 75ch;
    &li{
        line-height: 1.2em;
    }
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.rounded-img{
    border-radius: var(--icon-radius);
}

.small-img{
    width: 70%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4.5em;
}

.col-one {
    justify-content: left;
    width: 35%;
    padding: 1.25em;
}
  
.col-two {
    justify-content: right;
    width: 55%;
    padding: 1.25em;
}

.col-one-big{
    justify-content: left;
    width: 50%;
    padding: 1.25em;  
}

.col-two-small{
    justify-content: right;
    width: 40%;
    padding: 1.25em;
}